footer.footer-section 
    .container 
        .row.align-items-center
            .col-lg-4.col-md-6.mb-4.order-lg-1.order-2
                section.subscripe-section 
                    .subscripe-section-content
                        header
                            h4 بإشتراكك ستحصل على أهم التحديثات والأخبار والإستراتيجيات المتعلقة بالسيو
                        article
                            form 
                                .form-group.d-flex.align-items-center.px-4
                                    i.fas.fa-user
                                    input.mx-2.form-control(type='email' placeholder='البريد الالكتروني')
                                button اشترك
                    .imgs.d-flex.justify-content-center.mt-3.flex-wrap
                        img(src="assets/visa.png", width="20%", alt="", srcset="")
                        img(src="assets/master.png", width="20%", alt="", srcset="")
                        img(src="assets/paypal.png", width="20%", alt="", srcset="")
                        img(src="assets/we.png", width="20%", alt="", srcset="")
                        img(src="assets/vodaflone.png", width="20%", alt="", srcset="")
            .col-lg-4.col-md-12.mb-4.order-lg-2.order-1
                section.about-section.text-center
                    header 
                        h3 عن الشركة
                    article 
                        p نوفل سيو هي شركة تصميم مواقع و تسويق الالكتروني و سيو وايضا تصميم مواقع الشركات وادارة المواقع و كتابة المحتوي الجيد الحصري علي يد متخصص ( شركة تسويق  seoو خدمات الكتروني )
                        img.w-75.py-4(src="assets/footer-about.png", alt="", srcset="")
                        ul.list-unstyled.d-flex.flex-wrap.justify-content-center
                            li 
                                a(href="") 
                                    i.fab.fa-facebook-f
                            li 
                                a(href="") 
                                    i.fab.fa-instagram
                            li 
                                a(href="") 
                                    i.fab.fa-twitter
                            li 
                                a(href="") 
                                    i.fab.fa-linkedin-in
                            li 
                                a(href="") 
                                    i.fab.fa-pinterest-p
                            li 
                                a(href="") 
                                    i.fab.fa-behance
            .col-lg-4.col-md-6.order-3.mb-4
                section.footer-contact.text-center
                    header 
                        h3 العنوان
                    article 
                        p محافظة المنوفية منوف بجوار مجلس المدينة برج قراقيش الدور الخامس
                    header 
                        h3 الموبايل
                    article 
                        a(href='tel:+201021226980') 01021226980
                    header 
                        h3 العنوان
                    article 
                        a(href='mailto: info@nofalseo.com') info@nofalseo.com
                    .imgs.d-flex.justify-content-center.mt-4
                        img(src="assets/facebookpartner.png", width="100px", alt="", srcset="")
                        img(src="assets/googlepartner.png", width="100px", alt="", srcset="")