section.navbar-section.pt-3
    .content.container
        nav.navbar.navbar-expand-lg.navbar-light.p-0
            a.navbar-brand.m-0.p-0(href='home.html')
                img(src="assets/logo.png", width="100px", alt="", srcset="")
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.m-auto
                    li.nav-item
                        a.nav-link(href='home.html' class= pageTitle === 'home' ? 'active' : '') الرئيسية
                    li.nav-item
                        a.nav-link(href='#') من نحن
                    li.nav-item
                        a.nav-link(href='services.html' class= pageTitle === 'services' ? 'active' : '') الخدمات
                    li.nav-item
                        a.nav-link(href='team.html' class= pageTitle === 'team' ? 'active' : '') الفريق
                    li.nav-item
                        a.nav-link(href='blog.html' class= pageTitle === 'blog' ? 'active' : '') المدونه
                    li.nav-item
                        a.nav-link(href='#') المتجر
                    li.nav-item
                        a.nav-link(href='#') اتصل بنا
                div.form-inline.my-2.my-lg-0
                    button.my-2.my-sm-0 استشارة مجانية