section.services-page {
    background-image: url('../assets/service-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    section.main-section {
        @extend %page-header;
    }
}

section.services-content {
    article {
        .gray-bg {
            background-color: #f1f4ff;
        }
        .gray-bg, .white-bg {
            padding: 9rem 0;
        }
        .services-details {
            color: $mainColor;
            text-align: start;
            h3 {
                @media(max-width: 600px) {
                    font-size: 30px;
                }
                font-size: 40px;
                font-family: "29ltbukrabold";
                font-weight: bold;
                margin-bottom: 20px;
            }
            p {
                font-family: "Segoe";
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
}