section.team-page {
    background-image: url('../assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    section.main-section {
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        header {
            text-align: center;
            h1 {
                @media(max-width: 600px) {
                    font-size: 30px;
                }
                font-size: 40px;
                font-family: "29ltbukrabold";
                font-weight: bold;
                color: $mainColor;
            }
        }
    }
}

.team-content-section {
    padding: 4rem 0;
    article {
        background-image: url('../assets/bg4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        .card {
            border: none;
            color: $mainColor;
            background-color: #fff;
            img {
                width: 60%;
                margin: auto;
            }
            .card-body {
                text-align: center;
                h3 {
                    font-family: "29ltbukrabold";
                    font-weight: bold;
                    color: $mainColor;
                    margin: 0;
                }
                h4 {
                    font-family: "29ltbukrabold";
                    font-weight: bold;
                    color: $mainColor;
                    font-size: 16px;
                    margin-top: 10px;
                }
                p {
                    font-family: "Segoe";
                    font-weight: bold;
                    color: $mainColor;
                    font-size: 15px;
                }
            }
            .card-footer{
                background: $mainColor;
                border: none;
                text-align: center;
                border: none;
                a {
                    font-family: "29ltbukrabold";
                    font-weight: bold;
                    color: #fff !important;
                    text-decoration: none;
                }
            }
        }
        nav {
            .pagination {
                .page-item {
                    margin: 4px;
                    a {
                        color: $mainColor;
                        border-radius: 5px;
                        font-size: 20px;
                        font-weight: bold;
                        transition: all .3s;
                        &:hover {
                            background-color: $mainColor;
                            color: #fff;
                        }
                    }
                    &:first-child, &:last-child {
                        a {
                            border-radius: 5px;
                            border: none;
                            font-size: 20px;
                            color: $mainColor;
                            &:hover {
                                background-color: $mainColor;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}