@font-face {
    src: url('../fonts/Cooper.ttf');
    font-family: "Cooper";
}
@font-face {
    src: url('../fonts/29ltbukrabold.otf');
    font-family: "29ltbukrabold";
}
@font-face {
    src: url('../fonts/AAJannatLT-.ttf');
    font-family: "AAJannatLT";
}
@font-face {
    src: url('../fonts/Segoe.UI.ttf');
    font-family: "Segoe";
}