- var pageTitle = 'about';
<!DOCTYPE html>
html(lang="en", dir="rtl")
    head
        include pug/layouts/meta
        include pug/layouts/links
    body
        section.about-page
            include pug/layouts/navbar
            section.main-section 
                .container 
                    header 
                        h1.wow.fadeInUp(data-wow-duration="2s") من نحن
                        h5 ستجد اجابات لأكثر الاسئلة الشائعه التى تبحث عنها
        section.about-content
                article.mb-5
                    .white-bg
                        .container 
                            .row.align-items-center
                                .col-md-6.mb-4.order-2.order-md-1
                                    .services-details 
                                        h3.wow.fadeInUp(data-wow-duration="2s") من نحن
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .col-md-6.mb-4.order-1.order-md-2
                                    .services-img.text-center
                                        img.mw-100(src="assets/about1.png", alt="", srcset="")
                    .white-bg
                        .container 
                            .row.align-items-center
                                .col-md-6.mb-4
                                    .services-img.text-center
                                        img.mw-100(src="assets/about2.png", alt="", srcset="")
                                .col-md-6.mb-4
                                    .services-details 
                                        h3.wow.fadeInUp(data-wow-duration="2s") هدفنا
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
        section.about-customers 
            include pug/components/customers
        section.customers-review 
            .container 
                header
                    h1.wow.fadeInUp(data-wow-duration="2s") اراء بعض العملاء
                article
                    .container 
                        .row 
                            .col-lg-6.col-md-8.mb-5 
                                .review-content 
                                    .person-img 
                                        img.w-100(src="assets/review1.png", alt="", srcset="")
                                    .person-details.pr-3
                                        .rating 
                                            ul.list-unstyled.d-flex.align-items-center.mb-2
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                        .content 
                                            p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                        .row.justify-content-end
                            .col-lg-6.col-md-8.mb-5 
                                .review-content 
                                    .person-img 
                                        img.w-100(src="assets/review2.png", alt="", srcset="")
                                    .person-details.pr-3
                                        .rating 
                                            ul.list-unstyled.d-flex.align-items-center.mb-2
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                        .content 
                                            p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                        .row 
                            .col-lg-6.col-md-8.mb-5 
                                .review-content 
                                    .person-img 
                                        img.w-100(src="assets/review3.png", alt="", srcset="")
                                    .person-details.pr-3
                                        .rating 
                                            ul.list-unstyled.d-flex.align-items-center.mb-2
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                        .content 
                                            p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                        .row.justify-content-end
                            .col-lg-6.col-md-8.mb-5 
                                .review-content 
                                    .person-img 
                                        img.w-100(src="assets/review4.png", alt="", srcset="")
                                    .person-details.pr-3
                                        .rating 
                                            ul.list-unstyled.d-flex.align-items-center.mb-2
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                        .content 
                                            p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
        include pug/layouts/footer
        include pug/layouts/scripts