- var pageTitle = 'blog';
<!DOCTYPE html>
html(lang="en", dir="rtl")
    head
        include pug/layouts/meta
        include pug/layouts/links
    body
        section.blog-page
            include pug/layouts/navbar
            section.main-section 
                .container 
                    header 
                        h1 المدونة
        section.blog-developments 
            .container 
                article.mt-5
                    .row
                        .col-lg-4.col-sm-6.mb-5
                            .card.h-100
                                img.card-img-top(src='assets/cus.png' alt='...')
                                .card-body
                                    h5.card-title تطورات عملائنا فى اختصار
                                    p.card-text
                                        | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') متابعة القراءة
                        .col-lg-4.col-sm-6.mb-5
                            .card.h-100
                                img.card-img-top(src='assets/cus.png' alt='...')
                                .card-body
                                    h5.card-title تطورات عملائنا فى اختصار
                                    p.card-text تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') متابعة القراءة
                        .col-lg-4.col-sm-6.mb-5
                            .card.h-100
                                img.card-img-top(src='assets/cus.png' alt='...')
                                .card-body
                                    h5.card-title تطورات عملائنا فى اختصار
                                    p.card-text
                                        | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') متابعة القراءة
                        .col-lg-4.col-sm-6.mb-5
                            .card.h-100
                                img.card-img-top(src='assets/cus.png' alt='...')
                                .card-body
                                    h5.card-title تطورات عملائنا فى اختصار
                                    p.card-text
                                        | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') متابعة القراءة
                        .col-lg-4.col-sm-6.mb-5
                            .card.h-100
                                img.card-img-top(src='assets/cus.png' alt='...')
                                .card-body
                                    h5.card-title تطورات عملائنا فى اختصار
                                    p.card-text تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') متابعة القراءة
                        .col-lg-4.col-sm-6.mb-5
                            .card.h-100
                                img.card-img-top(src='assets/cus.png' alt='...')
                                .card-body
                                    h5.card-title تطورات عملائنا فى اختصار
                                    p.card-text
                                        | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') متابعة القراءة
                        .col-lg-4.col-sm-6.mb-5
                            .card.h-100
                                img.card-img-top(src='assets/cus.png' alt='...')
                                .card-body
                                    h5.card-title تطورات عملائنا فى اختصار
                                    p.card-text
                                        | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') متابعة القراءة
                        .col-lg-4.col-sm-6.mb-5
                            .card.h-100
                                img.card-img-top(src='assets/cus.png' alt='...')
                                .card-body
                                    h5.card-title تطورات عملائنا فى اختصار
                                    p.card-text تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') متابعة القراءة
                        .col-lg-4.col-sm-6.mb-5
                            .card.h-100
                                img.card-img-top(src='assets/cus.png' alt='...')
                                .card-body
                                    h5.card-title تطورات عملائنا فى اختصار
                                    p.card-text
                                        | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') متابعة القراءة
                    nav.mt-5(aria-label='Page navigation example')
                        ul.pagination.justify-content-center
                            li.page-item
                                a.page-link(href='#' aria-label='Previous')
                                    span(aria-hidden='true') 
                                        i.fas.fa-chevron-right
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#' aria-label='Next')
                                    span(aria-hidden='true') 
                                        i.fas.fa-chevron-left
        include pug/layouts/footer
        include pug/layouts/scripts