- var pageTitle = 'home';
<!DOCTYPE html>
html(lang="en", dir="rtl")
    head
        include pug/layouts/meta
        include pug/layouts/links
    body
        section.home-page
            include pug/layouts/navbar
            section.main-section 
                .container 
                    .row.align-items-center
                        .col-md-6.order-2.order-md-1
                            main
                                header 
                                    h1.wow.fadeInUp(data-wow-duration="2s") شركة نوفل سيو
                                article 
                                    p تقدم افضل خدمات السيو نعمل على تحسين محركات البحث لنجاح عملك
                        .col-md-6.order-1.order-md-2
                            .main-img 
                                img.w-100(src="assets/main-img.png", alt="", srcset="")
        section.services-section 
            .container 
                header 
                    h1.wow.fadeInUp(data-wow-duration="2s") خدمات الشركة
                    .line
                    h5 تعرف على مختلف الخدمات التى تقدمها الشركة
                article 
                    .row 
                        .col-lg-4.col-sm-6.mb-4
                            .services-content.text-center.h-100
                                figure
                                    img(src="assets/seo.png", alt="", srcset="")
                                    figcaption.mt-3
                                        h3 تحسين محركات البحث
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                        .col-lg-4.col-sm-6.mb-4
                            .services-content.text-center.h-100
                                figure
                                    img(src="assets/degitalmarketing.png", alt="", srcset="")
                                    figcaption.mt-3
                                        h3 تسويق الكترونى
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                        .col-lg-4.col-sm-6.mb-4
                            .services-content.text-center.h-100
                                figure
                                    img(src="assets/webdesign.png", alt="", srcset="")
                                    figcaption.mt-3
                                        h3 تصميم مواقع
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                        .col-lg-4.col-sm-6.mb-4
                            .services-content.text-center.h-100
                                figure
                                    img(src="assets/courses.png", alt="", srcset="")
                                    figcaption.mt-3
                                        h3 كورسات تعليمية
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                        .col-lg-4.col-sm-6.mb-4
                            .services-content.text-center.h-100
                                figure
                                    img(src="assets/graphicdesige.png", alt="", srcset="")
                                    figcaption.mt-3
                                        h3 تصميمات دعائية
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                        .col-lg-4.col-sm-6.mb-4
                            .services-content.text-center.h-100
                                figure
                                    img(src="assets/graphicdesign.png", alt="", srcset="")
                                    figcaption.mt-3
                                        h3 كتابة محتوى
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
        section.team-section 
            .container
                header
                    h1.wow.fadeInUp(data-wow-duration="2s") الفريق
            article.py-5
                .container
                    .owel-carousel
                        .owl-carousel.owl-theme
                            .item
                                .team-card
                                    .person-img 
                                        img(src="assets/person1.png", alt="", srcset="")
                                    .person-details.mt-3
                                        h3 Ahmed Nofal
                                        h4 Manger
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                            .item
                                .team-card
                                    .person-img 
                                        img(src="assets/person2.png", alt="", srcset="")
                                    .person-details.mt-3
                                        h3 Yasmin Hammad
                                        h4 seo
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                            .item
                                .team-card
                                    .person-img 
                                        img(src="assets/person3.png", alt="", srcset="")
                                    .person-details.mt-3
                                        h3 Nada Yossry
                                        h4 Graphic Designer
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
        section.price-section 
            .container
                header
                    h1.wow.fadeInUp(data-wow-duration="2s") الاسعار تصاميم المواقع
                    h5 لدينا خطط وأسعار مناسبة للجميع
            article.main 
                .container
                    .row.align-items-center 
                        .col-lg-4.col-md-6.mb-4.order-1 
                            .price-card 
                                header 
                                    h3 الخطة الاولى
                                article 
                                    p خطة مناسبة للشركات الناشئة
                                    p 
                                        strong 2500
                                        span  /جنيه
                                    ul.list-unstyled 
                                        li 
                                            img(src="assets/8.png", alt="", srcset="")
                                            span استضافة قوية
                                        li 
                                            img(src="assets/8.png", alt="", srcset="")
                                            span قالب مميز و شعار احترافي
                                        li 
                                            img(src="assets/8.png", alt="", srcset="")
                                            span دعم فني لمدة عام
                                        li 
                                            img(src="assets/8.png", alt="", srcset="")
                                            span ضبط موقعك لمحركات البحث
                                        li
                                            img(src="assets/8.png", alt="", srcset="")
                                            span ارشفة موقعك
                                    button
                                        img(src="assets/arrow.png", alt="", srcset="")
                                        | اشترك الان
                        .col-lg-4.col-md-6.mb-4.order-md-2.order-3 
                            .price-card 
                                header 
                                    h3 الخطة الثالثة
                                article 
                                    p خطة مناسبة للشركات الناشئة
                                    p 
                                        strong 4000
                                        span  /جنيه
                                    ul.list-unstyled 
                                        li 
                                            img(src="assets/8.png", alt="", srcset="")
                                            span استضافة قوية
                                        li 
                                            img(src="assets/8.png", alt="", srcset="")
                                            span قالب مميز و شعار احترافي
                                        li 
                                            img(src="assets/8.png", alt="", srcset="")
                                            span دعم فني لمدة عام
                                        li 
                                            img(src="assets/8.png", alt="", srcset="")
                                            span ارشفة الموقع بالكامل
                                        li
                                            img(src="assets/8.png", alt="", srcset="")
                                            span باك لينك مميز 100
                                        li
                                            img(src="assets/8.png", alt="", srcset="")
                                            span اعلان للشركة
                                        li
                                            img(src="assets/8.png", alt="", srcset="")
                                            span مقالات رائعة
                                        li
                                            img(src="assets/8.png", alt="", srcset="")
                                            span عمل خطة تسويقية
                                    button
                                        img(src="assets/arrow.png", alt="", srcset="")
                                        | اشترك الان
                        .col-lg-4.col-md-6.mb-4.order-md-3.order-2 
                            .price-card 
                                header 
                                    h3 الخطة الثانية
                                article 
                                    p خطة مناسبة للشركات الناشئة
                                    p 
                                        strong 3000
                                        span  /جنيه
                                    ul.list-unstyled 
                                        li 
                                            img(src="assets/8.png", alt="", srcset="")
                                            span تصميم مميز
                                        li 
                                            img(src="assets/8.png", alt="", srcset="")
                                            span قالب مميز و شعار احترافي
                                        li 
                                            img(src="assets/8.png", alt="", srcset="")
                                            span دعم فني لمدة عام
                                        li 
                                            img(src="assets/8.png", alt="", srcset="")
                                            span ضبط سيو الموقع
                                        li
                                            img(src="assets/8.png", alt="", srcset="")
                                            span ارشفة موقعك
                                        li
                                            img(src="assets/8.png", alt="", srcset="")
                                            span مقلات رائعة
                                    button
                                        img(src="assets/arrow.png", alt="", srcset="")
                                        | اشترك الان
        include pug/components/customers
        section.common-questions 
            .container 
                header 
                    h1.wow.fadeInUp(data-wow-duration="2s") اسئلة شائعة
                article.pt-5
                    .row.justify-content-center
                        .col-lg-6.col-md-10 
                            #accordionExample.accordion
                                .card
                                    #headingOne.card-header
                                        h2.mb-0
                                            button.btn.btn-link.btn-block(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                                | سؤال شائع هنكتبه هنا ؟
                                    #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionExample')
                                        .card-body
                                            | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card.my-4
                                    #headingTwo.card-header
                                        h2.mb-0
                                            button.btn.btn-link.btn-block.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                                                | سؤال شائع هنكتبه هنا ؟
                                    #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
                                        .card-body
                                            | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card
                                    #headingThree.card-header
                                        h2.mb-0
                                            button.btn.btn-link.btn-block.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                                                | سؤال شائع هنكتبه هنا ؟
                                    #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
                                        .card-body
                                            | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
        section.customers-developments 
            .container 
                header 
                    h1.wow.fadeInUp(data-wow-duration="2s") تطورات عملائنا فى اختصار
                article.mt-5
                    .row
                        .col-lg-4.col-sm-6.mb-4
                            .card.h-100
                                img.card-img-top(src='assets/cus.png' alt='...')
                                .card-body
                                    h5.card-title تطورات عملائنا فى اختصار
                                    p.card-text
                                        | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') اقرأ المزيد
                        .col-lg-4.col-sm-6.mb-4
                            .card.h-100
                                img.card-img-top(src='assets/cus.png' alt='...')
                                .card-body
                                    h5.card-title تطورات عملائنا فى اختصار
                                    p.card-text تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') اقرأ المزيد
                        .col-lg-4.col-sm-6.mb-4
                            .card.h-100
                                img.card-img-top(src='assets/cus.png' alt='...')
                                .card-body
                                    h5.card-title تطورات عملائنا فى اختصار
                                    p.card-text
                                        | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') اقرأ المزيد
        include pug/layouts/footer
        include pug/layouts/scripts