<!DOCTYPE html>
html(lang="en")
    head
        include pug/layouts/meta
        include pug/layouts/links
    body
        include pug/layouts/navbar
        include pug/components/owel-carousel
        include pug/layouts/footer
        include pug/layouts/scripts