<!DOCTYPE html>
html(lang="en", dir="rtl")
    head
        include pug/layouts/meta
        include pug/layouts/links
    body
        section.home-page
            include pug/layouts/navbar
            section.main-section 
                .container 
                    .row.align-items-center
                        .col-md-6.mb-3.order-2.order-md-1
                            main
                                header 
                                    h1 شركة نوفل سيو
                                article 
                                    p تقدم افضل خدمات السيو نعمل على تحسين محركات البحث لنجاح عملك
                        .col-md-6.mb-3.order-1.order-md-2
                            .main-img 
                                img.w-100(src="assets/main-img.png", alt="", srcset="")
        section.services-section 
            .container 
                header 
                    h1 خدمات الشركة
                    .line
                    h5 تعرف على مختلف الخدمات التى تقدمها الشركة
                article 
                    .row 
                        .col-lg-4.col-sm-6.mb-4
                            .services-content.text-center.h-100
                                figure
                                    img(src="assets/seo.png", alt="", srcset="")
                                    figcaption.mt-3
                                        h3 تحسين محركات البحث
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                        .col-lg-4.col-sm-6.mb-4
                            .services-content.text-center.h-100
                                figure
                                    img(src="assets/degitalmarketing.png", alt="", srcset="")
                                    figcaption.mt-3
                                        h3 تسويق الكترونى
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                        .col-lg-4.col-sm-6.mb-4
                            .services-content.text-center.h-100
                                figure
                                    img(src="assets/webdesign.png", alt="", srcset="")
                                    figcaption.mt-3
                                        h3 تصميم مواقع
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                        .col-lg-4.col-sm-6.mb-4
                            .services-content.text-center.h-100
                                figure
                                    img(src="assets/courses.png", alt="", srcset="")
                                    figcaption.mt-3
                                        h3 كورسات تعليمية
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                        .col-lg-4.col-sm-6.mb-4
                            .services-content.text-center.h-100
                                figure
                                    img(src="assets/graphicdesige.png", alt="", srcset="")
                                    figcaption.mt-3
                                        h3 تصميمات دعائية
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                        .col-lg-4.col-sm-6.mb-4
                            .services-content.text-center.h-100
                                figure
                                    img(src="assets/graphicdesign.png", alt="", srcset="")
                                    figcaption.mt-3
                                        h3 كتابة محتوى
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
        include pug/layouts/footer
        include pug/layouts/scripts