- var pageTitle = 'market';
<!DOCTYPE html>
html(lang="en", dir="rtl")
    head
        include pug/layouts/meta
        include pug/layouts/links
    body
        section.market-page
            include pug/layouts/navbar
            section.main-section 
                .container 
                    header 
                        h1.wow.fadeInUp(data-wow-duration="2s") المتجر
        section.market-content
            .container
                article
                    .row 
                        .col-lg-6.mb-4 
                            .markert-parent.h-100
                                .market-card 
                                    .market-img 
                                        img.w-100(src="assets/shop.png", alt="", srcset="")
                                    .market-details.pr-3
                                        .content 
                                            header 
                                                h3 تطورات عملائنا فى اختصار
                                            article 
                                                p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                        .rating 
                                            ul.list-unstyled.d-flex.align-items-center.mb-2
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                        .action 
                                            button شراء
                        .col-lg-6.mb-4 
                            .markert-parent.h-100
                                .market-card 
                                    .market-img 
                                        img.w-100(src="assets/shop.png", alt="", srcset="")
                                    .market-details.pr-3
                                        .content 
                                            header 
                                                h3 تطورات عملائنا فى اختصار
                                            article 
                                                p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                        .rating 
                                            ul.list-unstyled.d-flex.align-items-center.mb-2
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                        .action 
                                            button شراء
                        .col-lg-6.mb-4 
                            .markert-parent.h-100
                                .market-card 
                                    .market-img 
                                        img.w-100(src="assets/shop.png", alt="", srcset="")
                                    .market-details.pr-3
                                        .content 
                                            header 
                                                h3 تطورات عملائنا فى اختصار
                                            article 
                                                p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                        .rating 
                                            ul.list-unstyled.d-flex.align-items-center.mb-2
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                        .action 
                                            button شراء
                        .col-lg-6.mb-4 
                            .markert-parent.h-100
                                .market-card 
                                    .market-img 
                                        img.w-100(src="assets/shop.png", alt="", srcset="")
                                    .market-details.pr-3
                                        .content 
                                            header 
                                                h3 تطورات عملائنا فى اختصار
                                            article 
                                                p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                        .rating 
                                            ul.list-unstyled.d-flex.align-items-center.mb-2
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                        .action 
                                            button شراء
                        .col-lg-6.mb-4 
                            .markert-parent.h-100
                                .market-card 
                                    .market-img 
                                        img.w-100(src="assets/shop.png", alt="", srcset="")
                                    .market-details.pr-3
                                        .content 
                                            header 
                                                h3 تطورات عملائنا فى اختصار
                                            article 
                                                p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                        .rating 
                                            ul.list-unstyled.d-flex.align-items-center.mb-2
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                        .action 
                                            button شراء
                        .col-lg-6.mb-4 
                            .markert-parent.h-100
                                .market-card 
                                    .market-img 
                                        img.w-100(src="assets/shop.png", alt="", srcset="")
                                    .market-details.pr-3
                                        .content 
                                            header 
                                                h3 تطورات عملائنا فى اختصار
                                            article 
                                                p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                        .rating 
                                            ul.list-unstyled.d-flex.align-items-center.mb-2
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                        .action 
                                            button شراء
                        .col-lg-6.mb-4 
                            .markert-parent.h-100
                                .market-card 
                                    .market-img 
                                        img.w-100(src="assets/shop.png", alt="", srcset="")
                                    .market-details.pr-3
                                        .content 
                                            header 
                                                h3 تطورات عملائنا فى اختصار
                                            article 
                                                p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                        .rating 
                                            ul.list-unstyled.d-flex.align-items-center.mb-2
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                        .action 
                                            button شراء
                        .col-lg-6.mb-4 
                            .markert-parent.h-100
                                .market-card 
                                    .market-img 
                                        img.w-100(src="assets/shop.png", alt="", srcset="")
                                    .market-details.pr-3
                                        .content 
                                            header 
                                                h3 تطورات عملائنا فى اختصار
                                            article 
                                                p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                        .rating 
                                            ul.list-unstyled.d-flex.align-items-center.mb-2
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                                li 
                                                    i.fas.fa-star
                                        .action 
                                            button شراء
                    nav.mt-5(aria-label='Page navigation example')
                        ul.pagination.justify-content-center
                            li.page-item
                                a.page-link(href='#' aria-label='Previous')
                                    span(aria-hidden='true') 
                                        i.fas.fa-chevron-right
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#' aria-label='Next')
                                    span(aria-hidden='true') 
                                        i.fas.fa-chevron-left
        include pug/layouts/footer
        include pug/layouts/scripts