- var pageTitle = 'services';
<!DOCTYPE html>
html(lang="en", dir="rtl")
    head
        include pug/layouts/meta
        include pug/layouts/links
    body
        section.services-page
            include pug/layouts/navbar
            section.main-section 
                .container 
                    header 
                        h1 خدمات الشركة
                        .line
                        h5 تعرف على مختلف الخدمات التى تقدمها الشركة
        section.services-content.py-5
                article.mb-5
                    .white-bg
                        .container 
                            .row.align-items-center
                                .col-md-6.mb-4.order-2.order-md-1
                                    .services-details 
                                        h3 تحسين محركات البحث
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .col-md-6.mb-4.order-1.order-md-2
                                    .services-img.text-center
                                        img.mw-100(src="assets/seo.png", alt="", srcset="")
                    .gray-bg
                        .container 
                            .row.align-items-center
                                .col-md-6.mb-4
                                    .services-img.text-center
                                        img.mw-100(src="assets/degitalmarketing.png", alt="", srcset="")
                                .col-md-6.mb-4
                                    .services-details 
                                        h3 تسويق الكترونى
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                    .white-bg
                        .container 
                            .row.align-items-center
                                .col-md-6.mb-4.order-2.order-md-1
                                    .services-details 
                                        h3 تصميم مواقع
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .col-md-6.mb-4.order-1.order-md-2
                                    .services-img.text-center
                                        img.mw-100(src="assets/webdesign.png", alt="", srcset="")
                    .gray-bg
                        .container 
                            .row.align-items-center
                                .col-md-6.mb-4
                                    .services-img.text-center
                                        img.mw-100(src="assets/courses.png", alt="", srcset="")
                                .col-md-6.mb-4
                                    .services-details 
                                        h3 كورسات تعليمية
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                    .white-bg
                        .container 
                            .row.align-items-center
                                .col-md-6.mb-4.order-2.order-md-1
                                    .services-details 
                                        h3 تصميمات دعائية
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .col-md-6.mb-4.order-1.order-md-2
                                    .services-img.text-center
                                        img.mw-100(src="assets/grp.png", alt="", srcset="")
                    .gray-bg
                        .container 
                            .row.align-items-center
                                .col-md-6.mb-4
                                    .services-img.text-center
                                        img.mw-100(src="assets/graphicdesign.png", alt="", srcset="")
                                .col-md-6.mb-4
                                    .services-details 
                                        h3 كتابة محتوى
                                        p تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
        include pug/layouts/footer
        include pug/layouts/scripts