- var pageTitle = 'team';
<!DOCTYPE html>
html(lang="en", dir="rtl")
    head
        include pug/layouts/meta
        include pug/layouts/links
    body
        section.team-page
            include pug/layouts/navbar
            section.main-section 
                .container 
                    header 
                        h1.wow.fadeInUp(data-wow-duration="2s") الفريق
        section.team-content-section
            article.my-5
                .container
                    .row
                        .col-lg-4.col-sm-6.mb-5
                            .card.h-100
                                img.card-img-top(src='assets/person1.png' alt='...')
                                .card-body
                                    h3.card-title Ahmed Nofal
                                    h4.card-title Manger
                                    p.card-text
                                        | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') المزيد
                        .col-lg-4.col-sm-6.mb-5
                            .card.h-100
                                img.card-img-top(src='assets/person2.png' alt='...')
                                .card-body
                                    h3.card-title Yasmin Hammad
                                    h4.card-title seo
                                    p.card-text
                                        | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') المزيد
                        .col-lg-4.col-sm-6.mb-5
                            .card.h-100
                                img.card-img-top(src='assets/person3.png' alt='...')
                                .card-body
                                    h3.card-title Nada Yossry
                                    h4.card-title Graphic Designer
                                    p.card-text
                                        | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') المزيد
            article.my-5
                .container
                    .row
                        .col-lg-4.col-sm-6.mb-5
                            .card.h-100
                                img.card-img-top(src='assets/person1.png' alt='...')
                                .card-body
                                    h3.card-title Social
                                    h4.card-title social
                                    p.card-text
                                        | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') المزيد
                        .col-lg-4.col-sm-6.mb-5
                            .card.h-100
                                img.card-img-top(src='assets/person2.png' alt='...')
                                .card-body
                                    h3.card-title Mahmoud Naser
                                    h4.card-title seo
                                    p.card-text
                                        | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') المزيد
                        .col-lg-4.col-sm-6.mb-5
                            .card.h-100
                                img.card-img-top(src='assets/person3.png' alt='...')
                                .card-body
                                    h3.card-title Khaled El-Feshawy
                                    h4.card-title Programmer
                                    p.card-text
                                        | تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة تعرف على مختلف الخدمات التى تقدمها الشركة
                                .card-footer
                                    a(href='#') المزيد
        include pug/layouts/footer
        include pug/layouts/scripts