section.customers-section 
    .container
        header
            h1.wow.fadeInUp(data-wow-duration="2s") عملاء نفتخر بهم
            h5 هذه عينة من عملاء إستفادو من خدماتنا
    article 
        .container
            .owel-carousel
                .owl-carousel.owl-theme.customers
                    .item
                        .brand-img 
                            img(src="assets/brand1.png", alt="", srcset="")
                    .item
                        .brand-img 
                            img(src="assets/brand3.png", alt="", srcset="")
                    .item
                        .brand-img 
                            img(src="assets/brand1.png", alt="", srcset="")
                    .item
                        .brand-img 
                            img(src="assets/brand3.png", alt="", srcset="")